.header {
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--header-height);
  padding: 0 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); // shadow-sm

  &_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--wrapper-width);
  }

  &_logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
