.adminDashboard {
  &_screen {
    @include screen-fixed;
  }

  &_menu {
    width: var(--spacing-wrapper);
  }

  &_content {
    width: var(--spacing-wrapper);
  }

  &_header {
    width: var(--spacing-wrapper);
  }

  &_viewContainer {
    width: var(--spacing-wrapper);
  }
}
