.adminDashboard {
  &_layout {
    @include screen-fixed;
  }

  &_menu {
    width: var(--spacing-custom-dashboard-sidemenu-opened);
    height: 100%;
  }

  &_content {
    width: calc(100% - var(--spacing-custom-dashboard-sidemenu-opened));
    height: 100%;
  }

  &_header {
    width: 100%;
    height: var(--spacing-custom-dashboard-header);

    border-bottom: 1px solid var(--ui-borderDark);
  }

  &_viewContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--spacing-custom-dashboard-header));
    padding: var(--spacing-lg);

    background: var(--ui-surface);
  }

  &_viewWrapper {
    width: var(--spacing-wrapper);
  }

  &_view {
    padding: var(--spacing-md);
    border-radius: var(--borders-radius-sm);

    border: 1px solid var(--ui-border);
    background-color: var(--ui-background);
  }
}
