.sideMenu {
  display: flex;
  flex-direction: column;

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--spacing-custom-dashboard-header);

    border-bottom: 1px solid var(--ui-borderDark);
    border-right: 1px solid var(--ui-borderDark);
    background-color: var(--ui-backgroundDark);
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-lg);
    height: calc(100vh - var(--spacing-custom-dashboard-header));
    padding: var(--spacing-md);
    padding-bottom: var(--spacing-xl);
    overflow-y: auto;
    border-right: 1px solid var(--ui-disabled);

    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 10px;
      z-index: 1000;
    }

    &::-webkit-scrollbar-track {
      background: var(--ui-scrollbarTrack);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--ui-scrollbarThumb);
    }
  }

  .menuGroup {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-sm);

    &_title {
      font-size: var(--fonts-size-sm);
      line-height: var(--fonts-height-tight);
      font-weight: var(--fonts-weight-semiBold);

      color: var(--text-secondary);
    }

    &_list {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-xs);
    }
  }
}
