:root {
  font-size: 14px;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-roboto);
  background-color: var(--ui-background);
  color: var(--text-primary);
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
