.adminAuth {
  &_screen {
    @include screen-fixed;

    & {
      justify-content: center;
      align-items: center;
    }
  }

  &_image {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_container {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    padding: var(--spacing-xl);
    row-gap: var(--spacing-xl);
    border-radius: 8px;

    background-color: var(--ui-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &__title {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      h4 {
        font-size: var(--fonts-size-xl);
        line-height: var(--fonts-height-tight);
        font-weight: var(--fonts-weight-bold);
      }

      h5 {
        font-size: var(--fonts-size-md);
        line-height: var(--fonts-height-tight);
        font-weight: var(--fonts-weight-regular);
      }
    }

    &__content {
      display: flex;
    }

    &__navigtor {
      position: absolute;
      top: 100%;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: var(--spacing-xs);
      margin-top: var(--spacing-md);

      a {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-xs);
        font-size: var(--fonts-size-sm);
        line-height: var(--fonts-height-tight);
        font-weight: var(--fonts-weight-light);

        color: var(--text-onBrand);

        b {
          font-weight: var(--fonts-weight-medium);
        }

        svg {
          font-size: var(--fonts-size-lg);
        }
      }
    }
  }
}
