.viewBlock {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-lg);
  padding: var(--spacing-xl);
  border-radius: var(--borders-radius-sm);

  box-shadow:
    0 1px 5px 0 rgb(0 0 0 / 0.1),
    0 1px 5px -1px rgb(0 0 0 / 0.1);
  background-color: var(--ui-background);

  &_header {
    font-size: var(--fonts-size-lg);
    line-height: var(--fonts-height-tight);
    font-weight: var(--fonts-weight-semiBold);

    color: var(--text-prismary);
  }

  &_content {
    display: flex;
  }
}
