.viewHeader {
  h1 {
    font-size: var(--fonts-size-xl);
    line-height: var(--fonts-height-tight);
    font-weight: var(--fonts-weight-medium);

    color: var(--text-primary);
  }

  p {
    font-size: var(--fonts-size-md);
    line-height: var(--fonts-height-tight);
    font-weight: var(--fonts-weight-regular);

    color: var(--text-secondary);
  }
}
